:root {
    --bg: #1a1a36;
    --text: hsla(0, 0%, 100%, 0.85);
    --accent: rgb(255, 215, 128);
    --type: #30d8a0;
}

body {
    background: var(--bg);
    color: var(--text);
}



body[data-type="physical"] {
    --bg: #363636;
    --type: #cccccc;
}

body[data-type="fire"] {
    --bg: #3d1818;
    --type: #EA3F3F;
}

body[data-type="ice"] {
    --bg: #0C384F;
    --type: #7FD2FC;
}

body[data-type="lightning"] {
    --bg: #22052c;
    --type: #BE79D8;
}

body[data-type="wind"] {
    --bg: #17281D;
    --type: #67C086;
}

body[data-type="quantum"] {
    --bg: #201D34;
    --type: #9284EA;
}

body[data-type="imaginary"] {
    --bg: #372814;
    --type: #F3C030;
}

body[data-type="base"] {
    --bg: #1a1a36;

    background:
        radial-gradient(circle at 20% 0%,
            rgba(120, 115, 210, 0.18),
            transparent 38%),
        linear-gradient(180deg,
            #2a2a54 0%,
            #222247 42%,
            #1a1a36 72%,
            #17172f 100%);
}

/* 5★ */
.roster-character[data-rarity="5"] .roster-character-image {
    background:
        radial-gradient(circle at 50% 15%,
            rgba(255, 220, 145, 0.22),
            transparent 45%),
        linear-gradient(180deg,
            #665037 0%,
            #403529 100%);
}

/* 4★ */
.roster-character[data-rarity="4"] .roster-character-image {
    background:
        radial-gradient(circle at 50% 15%,
            rgba(190, 160, 255, 0.2),
            transparent 45%),
        linear-gradient(180deg,
            #59457d 0%,
            #382e55 100%);
}