:root {
    --bg: #153434;
    --text: hsla(0, 0%, 100%, 0.85);
    --accent: rgb(255, 215, 128);
    --element: #30d8a0;
}

body {
    background: var(--bg);
    color: var(--text);
}



body[data-element="physical"] {
    --bg: #404d4f;
    --element: #b8b6b5;
}

body[data-element="fire"] {
    --bg: #3d1818;
    --element: #ff6640;
}

body[data-element="ice"] {
    --bg: #235d74;
    --element: #7af0f0;
}

body[data-element="lightning"] {
    --bg: #22052c;
    --element: #c87fff;
}

body[data-element="wind"] {
    --bg: #153434;
    --element: #9de43b;
}

body[data-element="quantum"] {
    --bg: #241b46;
    --element: #a679ff;
}

body[data-element="imaginary"] {
    --bg: #3d2c1d;
    --element: #f3b530;
}

body[data-element="base"] {
    --bg: #153434;
    --element: #30d8a0;
}